---
import BaseLayout from "@layouts/BaseLayout.astro"
import SectionBlur from '@layouts/SectionBlur.astro'
import { settings } from 'src/config'
export async function getStaticPaths() {
  const response = await fetch(import.meta.env.KEY + `/rest/v1/${settings.site.api_item}`, {
    headers: {
      apikey: import.meta.env.KEY_ANON,
    },
  });
  const items = await response.json();

  return items.map((item) => {
    return {
      params: { slug: item.id },
      props: { item },
    };
  });
}

// const { slug } = Astro.request.params;
const { item } = Astro.props;
---

<BaseLayout title={item.name}>
<SectionBlur color1='#364D9E' color2='#CA49AE'>
    <h1 class="text-xl font-bold">{item.name}</h1>
    <div class="prose prose-invert">
      <p set:html={item.description} />
    </div>
</SectionBlur>
</BaseLayout>
