@tailwind components;

@layer components {
  .prose ul {
    @apply my-4 pl-8;
  }

  /* the ::marker selector doesn't allow customizing the spacing around the marker as easily */
  /* .prose ul li::before {
    content: "";
    background: url("/in12.svg") center no-repeat;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    margin-left: -18px;
  } */

  /* .prose ol {
    @apply my-4 list-inside list-decimal pl-4;
  } */

  .prose ol ::marker {
    @apply inline-block font-mono font-bold text-green-500;
  }

  /* .prose li {
    @apply my-2;
  }

  .prose :where(a) {
    @apply font-bold text-pink-600 underline underline-offset-2 hover:no-underline;
  }

  .prose > p code {
    @apply mx-0.5 inline-block rounded-lg bg-gray-500 px-2 align-baseline text-sm leading-6 text-gray-100;
  }

  .prose > pre {
    @apply my-6 rounded-md border border-gray-400 bg-transparent px-5 py-3 text-sm;
  } */
}
