---

---

<footer class="py-5 bg-black text-white">
  <div class="max-w-5xl px-5 mx-auto">
    <div class="flex justify-between items-center">
      <a href="https://t.me/all_12steps">@all_12steps</a>
      <span>2023</span>
    </div>
  </div>
</footer>
