---
import Nav from "@components/Nav.astro";
import Infinity12 from "@components/icons/Infinity12.astro";

const { max_w } = Astro.props;
const accent = "black";
---

<header class="bg-white py-5">
  <div class={`${max_w} container px-5 mx-auto`}>
    <div
      class="flex flex-wrap gap-6 justify-center md:justify-between items-center"
    >
      <a href="/">
        <Infinity12 color={accent} />
      </a>
      <Nav />
    </div>
  </div>
</header>
