---
import SavedBtnLen from '@components/SavedBtnLen'
---

<header class="h-10 bg-yellow-200">
  <div class="max-w-5xl px-5 mx-auto">
    <a href="">logo</a>
    <SavedBtnLen client:load />
  </div>
</header>