---

---

<aside
  class="relative flex gap-2 rounded-full text-xs md:text-sm transition-colors duration-150 hover:bg-black/20 hover:text-astro-gray-200"
>
  <a
    href="https://t.me/fb_steps_bot"
    class="flex items-center gap-2 pr-3 astro-WAPFOIZT"
  >
    <span class="pill relative m-px rounded-full px-3 py-1 astro-WAPFOIZT"
      >Поделись обратной связью!</span
    >
    <div class="flex items-center gap-1 astro-WAPFOIZT">
      <span class="astro-WAPFOIZT">написать</span>
      <svg
        data-hk="0-0"
        width="22"
        height="13"
        viewBox="0 0 22 13"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="inline h-3 w-3 -rotate-90 astro-WAPFOIZT"
        aria-hidden="true"
        ><path d="M1 1L11 11L21 1" stroke="currentColor" stroke-width="2"
        ></path></svg
      >
    </div>
  </a>
</aside>
<style>
  aside:before {
    position: absolute;
    inset: 0;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(133 139 152 / var(--tw-border-opacity));
    content: "";
    border-radius: inherit;
    z-index: -2;
  }

  .pill:before {
    position: absolute;
    inset: 0;
    content: "";
    margin: -1px;
    border-radius: inherit;
    background: linear-gradient(
      45deg,
      rgba(216, 51, 51, 1) 0%,
      rgba(240, 65, 255, 1) 100%
    );
    z-index: -2;
  }

  .pill:after {
    position: absolute;
    inset: 0;
    background-color: #0d0f1480;
    content: "";
    z-index: -1;
    border-radius: inherit;
  }
</style>
