---
import TGlink from "./TGlink.astro";
---

<aside class="flex flex-wrap items-center justify-between gap-2 md:gap-3">
  <p class="text-green-900">Хотите внести вклад в проект?</p>
  <TGlink />
</aside>
