---
import Article from "./Article.astro";
const { articles } = Astro.props;
---

<div class="mb-5 grid gap-5 md:grid-cols-2">
  {
    articles
      .filter((post) => post.data.favorite)
      .slice(0, 2)
      .map(async (article, index, favorite) => {
        return (
          <Article
            data={article.data}
            favorite={favorite}
            slug={article.slug}
            index={index}
          />
        );
      })
  }
</div>
