---

---

<h2 class="text-4xl xl:text-5xl font-medium xl:max-w-[70%]">
  <span
    class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-[#81FBB8] to-[#28C76F]"
    >12 шагов
  </span>
</h2>
