---
import Article from "./Article.astro";

const { articles } = Astro.props;
---

<section>
  <div class="grid gap-5 md:grid-cols-2">
    {
      articles.map(async (article, index) => {
        return (
          <Article data={article.data} slug={article.slug} index={index} />
        );
      })
    }

    <script>
      import favoriteLogic from "../utils/libs/favoriteLogic.js";
      favoriteLogic();
    </script>
  </div>
</section>
