---
import Article from "./Article.astro";

const { articles } = Astro.props;
---

<section>
  <div class="grid gap-5 md:grid-cols-2">
    <!-- <div class="md:col-span-2">
      <Image
        src={banner1}
        alt=""
        quality={"mid"}
        format="avif"
        class="rounded-lg"
      />
    </div> -->
    {
      articles.map(async (article, index) => {
        return (
          <Article data={article.data} slug={article.slug} index={index} />
        );
      })
    }

    <script>
      import favoriteLogic from "../utils/libs/favoriteLogic.js";
      favoriteLogic();
    </script>
  </div>
</section>
