---
import { getCollection } from "astro:content";
import PostCard from "./PostCard.astro";

const list = await getCollection("blog");

const posts = list
  .filter((post) => !post.data.draft && !post.data.favorite)
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<div
  class="grid grid-flow-row-dense gap-5 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
>
  {
    posts.map((post, index) => (
      <PostCard index={index} data={post.data} slug={post.slug} />
    ))
  }
</div>

<script>
  // motion.dev
  import { animate, spring, stagger } from "motion";

  animate(
    ".animatePost",
    { opacity: [0, 100], y: ["5%", "0%"] },
    { easing: spring({ velocity: 200 }), duration: 1, delay: stagger(0.08) },
  );
  animate(
    ".animateImage",
    { height: ["0px", "210px"] },
    { easing: spring({ velocity: 200 }), duration: 1 },
  );
</script>
