---
const { posts } = Astro.props
---

<section class="flex flex-col md:flex-row sm:justify-between gap-8">
	{
		posts.length > 0 ? (
			posts.map((post) => {
				return (
					<div class='flex gap-2'>
						<header class='flex justify-center items-center'>
							<a class='font-medium  hover:underline' href={`/posts/${post.slug}/`}>
								{post.data.title}
							</a>
						</header>
					</div>
				)
			})
		) : (
			<span class='text-gray-500'>Нету похожих постов 😢</span>
		)
	}
</section>