---

---

<div
  id="bg"
  class="bg-black overflow-hidden z-[999] inset-0 fixed w-full max-h-screen grid place-items-center"
>
  <svg
    pathLength="1"
    width="263"
    height="156"
    viewBox="0 0 263 156"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      pathLength="1"
      d="M263.003 35.6826C263.003 42.7398 260.911 49.6387 256.991 55.5067C253.071 61.3748 247.498 65.9484 240.978 68.6492C234.458 71.3499 227.284 72.0565 220.363 70.6795C213.441 69.3025 207.083 65.9038 202.094 60.9132L201.802 60.598L166.207 20.4064C163.198 17.4521 159.383 15.4525 155.241 14.6585C151.1 13.8645 146.816 14.3114 142.927 15.9432C139.039 17.575 135.719 20.3189 133.384 23.8307C131.049 27.3425 129.804 31.4656 129.804 35.6826C129.804 39.8997 131.049 44.0228 133.384 47.5346C135.719 51.0464 139.039 53.7903 142.927 55.4221C146.816 57.0539 151.1 57.5008 155.241 56.7068C159.383 55.9127 163.198 53.9132 166.207 50.9589L168.039 48.8896C168.66 48.1868 169.413 47.6132 170.256 47.2016C171.099 46.79 172.015 46.5485 172.951 46.4908C173.887 46.4331 174.826 46.5604 175.713 46.8653C176.6 47.1703 177.418 47.647 178.121 48.2682C178.824 48.8894 179.397 49.6429 179.809 50.4858C180.22 51.3287 180.462 52.2443 180.52 53.1805C180.577 54.1168 180.45 55.0552 180.145 55.9422C179.84 56.8292 179.363 57.6475 178.742 58.3503L176.75 60.598L176.459 60.9132C171.469 65.9023 165.112 69.2997 158.191 70.6759C151.27 72.0521 144.097 71.3452 137.578 68.6446C131.059 65.944 125.487 61.371 121.567 55.5039C117.647 49.6367 115.554 42.7389 115.554 35.6826C115.554 28.6264 117.647 21.7286 121.567 15.8614C125.487 9.9943 131.059 5.42131 137.578 2.72072C144.097 0.0201336 151.27 -0.68677 158.191 0.689397C165.112 2.06556 171.469 5.463 176.459 10.4521L176.75 10.7673L212.345 50.9589C215.355 53.9132 219.169 55.9127 223.311 56.7068C227.453 57.5008 231.737 57.0539 235.625 55.4221C239.514 53.7903 242.834 51.0464 245.168 47.5346C247.503 44.0228 248.749 39.8997 248.749 35.6826C248.749 31.4656 247.503 27.3425 245.168 23.8307C242.834 20.3189 239.514 17.575 235.625 15.9432C231.737 14.3114 227.453 13.8645 223.311 14.6585C219.169 15.4525 215.355 17.4521 212.345 20.4064L210.514 22.4757C209.893 23.1785 209.139 23.7521 208.296 24.1637C207.453 24.5752 206.538 24.8168 205.601 24.8745C204.665 24.9322 203.727 24.8049 202.84 24.5C201.953 24.195 201.134 23.7183 200.432 23.0971C199.729 22.4759 199.155 21.7224 198.744 20.8795C198.332 20.0366 198.091 19.121 198.033 18.1847C197.975 17.2485 198.102 16.3101 198.407 15.4231C198.712 14.5361 199.189 13.7178 199.81 13.015L201.802 10.7673L202.094 10.4521C207.083 5.46153 213.441 2.06281 220.363 0.6858C227.284 -0.691211 234.458 0.0153452 240.978 2.71611C247.498 5.41687 253.071 9.99051 256.991 15.8586C260.911 21.7266 263.003 28.6255 263.003 35.6826Z"
      fill="black"></path>
    <path
      pathLength="1"
      d="M12.2252 103.841C13.3233 103.036 14.1652 101.975 14.7508 100.657C15.4097 99.2661 15.8123 97.7288 15.9587 96.0451C16.1783 94.3613 16.1783 92.5678 15.9587 90.6645C15.7391 88.7612 15.4097 86.8212 14.9704 84.8447C14.8972 84.4787 14.824 84.0394 14.7508 83.527C14.7508 82.9414 15.1534 82.3923 15.9587 81.8799L32.9789 69.801C34.0037 69.2154 34.6626 69.0324 34.9554 69.252C35.2482 69.4716 35.5777 69.9475 35.9437 70.6795C37.0418 73.0953 37.9934 75.6941 38.7987 78.4759C39.6771 81.1844 40.4092 84.0028 40.9948 86.931C41.5805 89.786 42.0197 92.641 42.3125 95.496C42.6053 98.2778 42.8249 100.913 42.9714 103.402C43.0446 104.793 43.0812 106.55 43.0812 108.673C43.0812 110.723 43.0446 112.846 42.9714 115.042C42.8982 117.238 42.7883 119.324 42.6419 121.301C42.5687 123.204 42.4589 124.741 42.3125 125.913C41.9465 128.841 41.3242 131.659 40.4458 134.368C39.6405 137.076 38.5059 139.419 37.0417 141.396C35.5776 143.299 33.7475 145.349 31.5514 147.545C29.3552 149.814 26.5002 152.34 22.9864 155.122C22.6936 155.341 22.3641 155.524 21.9981 155.671C21.6321 155.89 21.2661 156 20.9 156C20.6072 156 20.351 155.854 20.1314 155.561C19.985 155.341 19.985 154.902 20.1314 154.243C20.6438 151.242 21.0464 148.021 21.3393 144.58C21.6321 141.139 21.8151 137.699 21.8883 134.258C21.9615 130.744 21.9615 127.377 21.8883 124.156C21.8883 120.935 21.8151 118.08 21.6687 115.591C20.717 115.81 19.8386 115.957 19.0333 116.03C18.3013 116.103 17.5326 116.14 16.7274 116.14C14.824 116.213 13.0671 116.03 11.4566 115.591C9.84608 115.152 8.38198 114.603 7.06429 113.944C5.7466 113.212 4.57531 112.443 3.55044 111.638C2.52557 110.832 1.64711 110.1 0.915063 109.442C-0.549038 107.904 -0.256217 107.136 1.79352 107.136C3.18442 106.989 4.83153 106.733 6.73486 106.367C8.6382 106.001 10.4683 105.159 12.2252 103.841Z"
      fill="black"></path>
    <path
      pathLength="1"
      d="M65.1525 144.47C64.2008 143.519 63.8348 142.75 64.0544 142.164C64.274 141.579 64.8963 140.993 65.9211 140.407C68.1173 139.236 70.6429 137.918 73.4979 136.454C76.3529 134.99 79.098 133.636 81.7334 132.391C84.3688 131.074 86.6382 129.939 88.5415 128.987C90.518 128.036 91.6893 127.487 92.0553 127.34C94.2515 125.949 96.3378 123.643 98.3144 120.422C100.364 117.201 102.048 113.724 103.366 109.991C104.756 106.257 105.635 102.597 106.001 99.0099C106.367 95.4228 106.001 92.5312 104.903 90.3351C104.098 88.5782 102.926 87.1506 101.389 86.0526C99.8517 84.9545 98.0582 84.2591 96.0084 83.9662C94.0319 83.6734 91.8357 83.8198 89.42 84.4055C87.0042 84.9911 84.5518 86.0526 82.0629 87.5899C79.7935 89.054 78 90.5913 76.6823 92.2018C75.4378 93.7391 74.5227 95.3862 73.9371 97.1431C73.3514 98.9001 73.022 100.767 72.9488 102.743C72.8756 104.72 72.8756 106.843 72.9488 109.112C72.9488 109.917 72.7658 110.54 72.3998 110.979C72.107 111.345 71.3383 111.455 70.0938 111.308C68.9957 111.235 67.7147 111.015 66.2506 110.649C64.8597 110.21 63.4688 109.698 62.0779 109.112C60.687 108.453 59.3693 107.721 58.1248 106.916C56.8803 106.038 55.9287 105.086 55.2698 104.061C54.2449 102.597 53.6227 101.243 53.4031 99.9981C53.1835 98.7536 53.1103 97.3994 53.1835 95.9353C53.3299 92.4214 54.5011 89.0174 56.6973 85.7231C58.8935 82.4289 62.1145 79.5007 66.3604 76.9385C69.1422 75.0352 72.1436 73.6443 75.3646 72.7659C78.5856 71.8874 81.8432 71.4482 85.1375 71.4482C88.8709 71.4482 92.5678 71.9606 96.228 72.9855C99.8883 74.0103 103.366 75.511 106.66 77.4876C109.954 79.4641 112.919 81.8799 115.554 84.7349C118.263 87.5899 120.459 90.8109 122.143 94.398C123.826 97.9118 124.815 101.133 125.107 104.061C125.4 106.916 125.29 109.588 124.778 112.077C124.266 114.493 123.46 116.835 122.362 119.105C121.264 121.374 120.129 123.68 118.958 126.023C118.665 126.755 118.848 127.194 119.507 127.34C121.118 127.706 123.131 128.402 125.547 129.427C128.036 130.378 130.561 131.586 133.123 133.05C135.686 134.514 138.101 136.161 140.371 137.992C142.713 139.748 144.58 141.615 145.971 143.592C146.996 144.836 147.398 145.678 147.179 146.117C146.959 146.557 146.3 146.593 145.202 146.227C139.492 145.056 134.734 144.177 130.927 143.592C127.121 143.006 123.607 142.677 120.386 142.603C117.824 142.53 115.298 142.677 112.809 143.043C110.32 143.482 107.575 144.177 104.573 145.129C101.645 146.154 98.2778 147.472 94.4711 149.082C90.7377 150.766 86.2355 152.816 80.9648 155.231C80.7452 155.378 80.4889 155.524 80.1961 155.671C79.9033 155.817 79.5373 155.89 79.098 155.89C78.732 155.963 78.2928 155.89 77.7804 155.671C77.2679 155.524 76.7189 155.158 76.1332 154.572L65.1525 144.47Z"
      fill="black"></path>
  </svg>
</div>

<style>
  circle,
  path {
    fill: transparent;
    stroke: #fff;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  circle {
    transform-origin: 100px 100px;
    transform: rotate(-90deg);
  }
</style>

<script>
  import { animate, timeline } from "motion";

  const draw = (progress) => ({
    strokeDashoffset: 1 - progress,
    visibility: "visible",
  });

  // перезагрузка страницы если перейти по `/` для проигрыша анимации
  document.addEventListener("astro:after-swap", () => {
    location.reload();
  });

  timeline([
    ["circle", draw(1), { duration: 1.6, delay: 1 }],
    ["path", draw(1), { duration: 1.4, at: "-0.2" }],
  ]);

  animate(
    "#bg",
    {
      opacity: [1, 0],
      display: ["grid", "none"],
    },
    { duration: 1, delay: 1.4 },
  );
</script>
