---
import LinkCopy from "./icons/LinkCopy.astro";
import TG from "./icons/TG.astro";
import VK from "./icons/VK.astro";
import X from "./icons/X.astro";
---

<div class="flex items-center gap-3">
  <a href="#">
    <LinkCopy />
  </a>
  <a href="#">
    <TG />
  </a>
  <a href="#">
    <VK />
    <a href="#">
      <X />
    </a>
  </a>
</div>
