---

---

<div class="active:bg-gray-200 p-2 bg-gray-100 rounded-xl">
  <svg
    width="30"
    height="30"
    viewBox="0 0 30 30"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M7.5 4.5C6.70435 4.5 5.94129 4.81607 5.37868 5.37868C4.81607 5.94129 4.5 6.70435 4.5 7.5V10.5C4.5 11.2956 4.81607 12.0587 5.37868 12.6213C5.94129 13.1839 6.70435 13.5 7.5 13.5H10.5C11.2956 13.5 12.0587 13.1839 12.6213 12.6213C13.1839 12.0587 13.5 11.2956 13.5 10.5V7.5C13.5 6.70435 13.1839 5.94129 12.6213 5.37868C12.0587 4.81607 11.2956 4.5 10.5 4.5H7.5ZM7.5 16.5C6.70435 16.5 5.94129 16.8161 5.37868 17.3787C4.81607 17.9413 4.5 18.7044 4.5 19.5V22.5C4.5 23.2956 4.81607 24.0587 5.37868 24.6213C5.94129 25.1839 6.70435 25.5 7.5 25.5H10.5C11.2956 25.5 12.0587 25.1839 12.6213 24.6213C13.1839 24.0587 13.5 23.2956 13.5 22.5V19.5C13.5 18.7044 13.1839 17.9413 12.6213 17.3787C12.0587 16.8161 11.2956 16.5 10.5 16.5H7.5ZM16.5 7.5C16.5 6.70435 16.8161 5.94129 17.3787 5.37868C17.9413 4.81607 18.7044 4.5 19.5 4.5H22.5C23.2956 4.5 24.0587 4.81607 24.6213 5.37868C25.1839 5.94129 25.5 6.70435 25.5 7.5V10.5C25.5 11.2956 25.1839 12.0587 24.6213 12.6213C24.0587 13.1839 23.2956 13.5 22.5 13.5H19.5C18.7044 13.5 17.9413 13.1839 17.3787 12.6213C16.8161 12.0587 16.5 11.2956 16.5 10.5V7.5ZM21 16.5C21.3978 16.5 21.7794 16.658 22.0607 16.9393C22.342 17.2206 22.5 17.6022 22.5 18V19.5H24C24.3978 19.5 24.7794 19.658 25.0607 19.9393C25.342 20.2206 25.5 20.6022 25.5 21C25.5 21.3978 25.342 21.7794 25.0607 22.0607C24.7794 22.342 24.3978 22.5 24 22.5H22.5V24C22.5 24.3978 22.342 24.7794 22.0607 25.0607C21.7794 25.342 21.3978 25.5 21 25.5C20.6022 25.5 20.2206 25.342 19.9393 25.0607C19.658 24.7794 19.5 24.3978 19.5 24V22.5H18C17.6022 22.5 17.2206 22.342 16.9393 22.0607C16.658 21.7794 16.5 21.3978 16.5 21C16.5 20.6022 16.658 20.2206 16.9393 19.9393C17.2206 19.658 17.6022 19.5 18 19.5H19.5V18C19.5 17.6022 19.658 17.2206 19.9393 16.9393C20.2206 16.658 20.6022 16.5 21 16.5V16.5Z"
      fill="#3F3F46"></path>
  </svg>
</div>
