---
const { color, link, name, target, className } = Astro.props;
---

<a
  href={link}
  target={target}
  class={`${className} flex items-center gap-1 text-gray-500 bg-gray-50 hover:bg-gray-100 py-1 px-2 rounded-md`}
>
  <svg
    width="16"
    height="16"
    viewBox="0 0 16 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M11.9838 6.84761C11.9838 7.5221 11.851 8.18999 11.5928 8.81315C11.3347 9.4363 10.9564 10.0025 10.4795 10.4795C10.0025 10.9564 9.4363 11.3347 8.81315 11.5928C8.18999 11.851 7.5221 11.9838 6.84761 11.9838C6.17311 11.9838 5.50522 11.851 4.88206 11.5928C4.25891 11.3347 3.6927 10.9564 3.21576 10.4795C2.73882 10.0025 2.36049 9.4363 2.10237 8.81315C1.84425 8.18999 1.7114 7.5221 1.7114 6.84761C1.7114 5.4854 2.25253 4.17898 3.21576 3.21576C4.17898 2.25253 5.4854 1.7114 6.84761 1.7114C8.20981 1.7114 9.51623 2.25253 10.4795 3.21576C11.4427 4.17898 11.9838 5.4854 11.9838 6.84761ZM11.0479 12.2577C9.67181 13.3261 7.94033 13.8298 6.20592 13.6664C4.47152 13.503 2.86458 12.6847 1.71225 11.3782C0.559919 10.0717 -0.0511797 8.37511 0.00336019 6.63388C0.0579 4.89265 0.773979 3.23766 2.00582 2.00582C3.23766 0.773979 4.89265 0.0579 6.63388 0.00336019C8.37511 -0.0511797 10.0717 0.559919 11.3782 1.71225C12.6847 2.86458 13.503 4.47152 13.6664 6.20592C13.8298 7.94033 13.3261 9.67181 12.2577 11.0479L15.7275 14.5177C15.8116 14.596 15.8791 14.6906 15.9259 14.7956C15.9727 14.9006 15.9978 15.0139 15.9999 15.1289C16.0019 15.2438 15.9808 15.358 15.9377 15.4646C15.8946 15.5712 15.8306 15.668 15.7493 15.7493C15.668 15.8306 15.5712 15.8946 15.4646 15.9377C15.358 15.9808 15.2438 16.0019 15.1289 15.9999C15.0139 15.9978 14.9006 15.9727 14.7956 15.9259C14.6906 15.8791 14.596 15.8116 14.5177 15.7275L11.0479 12.2577Z"
      fill="black"></path>
  </svg>
  <span>{name}</span>
</a>
