---
export interface Props {
  className?: string;
  w_container?: string;
}
const { className, w_container } = Astro.props;
---

<div class=`${className} w-full ${w_container ?? 'max-w-5xl'} px-5 mx-auto`>
  <slot />
</div>

<style>
  .content {
    min-height: calc(100vh - 235px);
  }
</style>
